---
# Keycloak No-Domain-specific Overlay for IRSA (AWS IAM Roles for Service Accounts)
#
# This file contains no-domain-specific Keycloak configuration for IRSA deployments.
# It should be merged after values-keycloak.yml.
#
# Required environment variables:
#   - CAMUNDA_RELEASE_NAME: Helm release name

global:
    identity:
        auth:
            issuerBackendUrl: http://${CAMUNDA_RELEASE_NAME}-keycloak:8080/auth/realms/camunda-platform
            issuer: http://${CAMUNDA_RELEASE_NAME}-keycloak:8080/auth/realms/camunda-platform
            # using localhost:18080 -> camunda-keycloak:8080
            publicIssuerUrl: http://localhost:18080/auth/realms/camunda-platform

            identity:
                redirectUrl: http://localhost:8084

            optimize:
                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: identity-optimize-client-token
                redirectUrl: http://localhost:8083

            webModeler:
                redirectUrl: http://localhost:8070

            console:
                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: identity-console-client-token
                redirectUrl: http://localhost:8087

identity:
    fullURL: http://localhost:8080/managementidentity

orchestration:
    security:
        authentication:
            oidc:
                redirectUrl: http://localhost:8080
