---
# Base Domain Configuration for Camunda Platform (IRSA)
#
# This file contains infrastructure configuration with ingress/domain enabled.
# IRSA-specific: service accounts with IAM role annotations, AWS JDBC wrapper for DB access.
# Combine with an auth overlay:
#   - Keycloak Operator: yq ". *+ load(\"generic/kubernetes/operator-based/keycloak/camunda-keycloak-domain-values.yml\")" values-domain.yml > values.yml
#   - OIDC:              yq ". *+ load(\"values-oidc.yml\")" values-domain.yml > values.yml
#
# Required environment variables:
#   - CAMUNDA_DOMAIN: Your domain name
#   - OPENSEARCH_HOST: OpenSearch endpoint
#   - DB_HOST, DB_IDENTITY_USERNAME, DB_IDENTITY_NAME: Database connection
#   - Various IRSA role ARNs and service account names (from Terraform outputs)

global:
    elasticsearch:
        enabled: false
    opensearch:
        enabled: true
        aws:
            enabled: true # enable IRSA auth
        url:
            protocol: https
            host: ${OPENSEARCH_HOST}
            # Amazon OpenSearch Service listens on port 443 opposed to the usual port 9200.
            port: 443

    security:
        authentication:
            method: oidc

    ingress:
        enabled: true
        host: ${CAMUNDA_DOMAIN}
        tls:
            enabled: true
            secretName: camunda-c8-tls
        annotations:
            kubernetes.io/tls-acme: 'true'

    identity:
        auth:
            enabled: true
            identity:
                redirectUrl: https://${CAMUNDA_DOMAIN}/managementidentity
            console:
                redirectUrl: https://${CAMUNDA_DOMAIN}/console
            webModeler:
                redirectUrl: https://${CAMUNDA_DOMAIN}/modeler
            optimize:
                redirectUrl: https://${CAMUNDA_DOMAIN}/optimize

identity:
    enabled: true
    contextPath: /managementidentity
    fullURL: https://${CAMUNDA_DOMAIN}/managementidentity

    firstUser:
        enabled: true
        username: admin
        email: admin@camunda.local
        firstName: Admin
        lastName: User
        secret:
            existingSecret: identity-secret-for-components
            existingSecretKey: identity-first-user-password

    serviceAccount:
        name: ${CAMUNDA_IDENTITY_SERVICE_ACCOUNT_NAME}
        annotations:
            eks.amazonaws.com/role-arn: ${DB_ROLE_IDENTITY_ARN}

    externalDatabase:
        enabled: true
        host: ${DB_HOST}
        port: 5432
        username: ${DB_IDENTITY_USERNAME}
        database: ${DB_IDENTITY_NAME}

    env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:aws-wrapper:postgresql://${DB_HOST}:5432/${DB_IDENTITY_NAME}?wrapperPlugins=iam
        - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
          value: software.amazon.jdbc.Driver
        - name: SPRING_DATASOURCE_USERNAME
          value: ${DB_IDENTITY_USERNAME}

connectors:
    contextPath: /connectors

optimize:
    enabled: true
    contextPath: /optimize

    serviceAccount:
        name: ${CAMUNDA_OPTIMIZE_SERVICE_ACCOUNT_NAME}
        annotations:
            eks.amazonaws.com/role-arn: ${OPENSEARCH_ROLE_ARN}

    # OpenSearch prevents migration
    migration:
        enabled: false

orchestration:
    contextPath: /
    serviceAccount:
        name: ${CAMUNDA_ZEEBE_SERVICE_ACCOUNT_NAME}
        annotations:
            eks.amazonaws.com/role-arn: ${OPENSEARCH_ROLE_ARN}

    data:
        secondaryStorage:
            type: opensearch

    security:
        initialization:
            defaultRoles:
                admin:
                    users:
                        - admin

    ingress:
        grpc:
            enabled: true
            host: zeebe-${CAMUNDA_DOMAIN}
            tls:
                enabled: true
                secretName: zeebe-c8-tls-grpc
            annotations:
                kubernetes.io/tls-acme: 'true'

console:
    enabled: false # by default, console is not enabled
    contextPath: /console


webModeler:
    enabled: false # by default, webModeler is not enabled
    contextPath: /modeler

    serviceAccount:
        name: ${CAMUNDA_WEBMODELER_SERVICE_ACCOUNT_NAME}
        annotations:
            eks.amazonaws.com/role-arn: ${DB_ROLE_WEBMODELER_ARN}

    restapi:
        externalDatabase:
            url: jdbc:aws-wrapper:postgresql://${DB_HOST}:5432/${DB_WEBMODELER_NAME}?wrapperPlugins=iam
            user: ${DB_WEBMODELER_USERNAME}
            secret:
                existingSecret: webmodeler-postgres-secret # fake password needed for chart (IRSA uses IAM auth)
                existingSecretKey: password
        env:
            - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
              value: software.amazon.jdbc.Driver
        mail:
            secret:
                existingSecret: webmodeler-secret
                existingSecretKey: smtp-password
            fromAddress: changeme@example.com   # change this required value

webModelerPostgresql:
    # Will deploy a postgresql database for webModeler.
    # If you enable webModeler, you either need to turn it true or use an external database
    enabled: false

elasticsearch:
    enabled: false
