---
# Keycloak Overlay Configuration for IRSA (AWS IAM Roles for Service Accounts)
#
# This file contains Keycloak configuration that uses IRSA for database authentication
# instead of password-based secrets. It should be merged with your base values file.
#
# Required environment variables:
#   - DB_HOST: Database host
#   - DB_KEYCLOAK_USERNAME: Keycloak database username
#   - DB_KEYCLOAK_NAME: Keycloak database name
#   - CAMUNDA_KEYCLOAK_SERVICE_ACCOUNT_NAME: Service account for Keycloak
#   - DB_ROLE_KEYCLOAK_ARN: IAM role ARN for Keycloak DB access

global:
    identity:
        auth:
            type: KEYCLOAK

identityKeycloak:
    enabled: true
    serviceAccount:
        name: ${CAMUNDA_KEYCLOAK_SERVICE_ACCOUNT_NAME}
        annotations:
            eks.amazonaws.com/role-arn: ${DB_ROLE_KEYCLOAK_ARN}

    postgresql:
        enabled: false

    externalDatabase:
        host: ${DB_HOST}
        user: ${DB_KEYCLOAK_USERNAME}
        port: 5432
        database: ${DB_KEYCLOAK_NAME}

    extraEnvVars:
        - name: KEYCLOAK_EXTRA_ARGS
          value: --db-driver=software.amazon.jdbc.Driver --transaction-xa-enabled=false --log-level=INFO,software.amazon.jdbc:INFO
        - name: KEYCLOAK_JDBC_PARAMS
          value: wrapperPlugins=iam&ssl=true&sslmode=require
        - name: KEYCLOAK_JDBC_DRIVER
          value: aws-wrapper:postgresql
        # This is required to ensure proper issuer of JWT tokens
        - name: KC_HOSTNAME
          value: ${CAMUNDA_RELEASE_NAME}-keycloak

    # match the internal keycloak port to the external port for JWT Tokens issuer
    ports:
        http: 8080
    service:
        ports:
            http: 8080

    auth:
        existingSecret: identity-secret-for-components
        passwordSecretKey: identity-admin-client-token


connectors:
    # Configure OIDC for connectors with Keycloak
    security:
        authentication:
            oidc:
                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: identity-connectors-client-token

orchestration:
    data:
        secondaryStorage:
            type: opensearch

    # Configure OIDC for orchestration with Keycloak
    security:
        authentication:
            oidc:
                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: identity-orchestration-client-token
        initialization:
            defaultRoles:
                admin:
                    users:
                        - admin
