---
global:
    elasticsearch:
        enabled: true
        external: true
        # URL configuration for ECK operator
        url:
            protocol: http
            host: elasticsearch-es-http
            port: 9200
        # Authentication using ECK-generated secret
        auth:
            username: elastic
            secret:
                existingSecret: elasticsearch-es-elastic-user
                existingSecretKey: elastic

    identity:
        auth:
            enabled: true
            issuer: https://login.microsoftonline.com/${AZURE_TENANT_ID}/v2.0
            issuerBackendUrl: https://login.microsoftonline.com/${AZURE_TENANT_ID}/v2.0
            authUrl: https://login.microsoftonline.com/${AZURE_TENANT_ID}/oauth2/v2.0/authorize
            tokenUrl: https://login.microsoftonline.com/${AZURE_TENANT_ID}/oauth2/v2.0/token
            jwksUrl: https://login.microsoftonline.com/${AZURE_TENANT_ID}/discovery/v2.0/keys
            type: MICROSOFT

            identity:
                clientId: ${IDENTITY_CLIENT_ID}
                audience: ${IDENTITY_AUDIENCE}
                initialClaimName: preferred_username
                initialClaimValue: ${IDENTITY_INITIAL_USER_EMAIL}
                secret:
                    existingSecret: entra-credentials
                    existingSecretKey: identity-client-secret

            optimize:
                clientId: ${OPTIMIZE_CLIENT_ID}
                audience: ${OPTIMIZE_AUDIENCE}
                redirectUrl: http://localhost:8083
                secret:
                    existingSecret: entra-credentials
                    existingSecretKey: optimize-client-secret

            webModeler:
                clientId: ${WEBMODELER_UI_CLIENT_ID}
                clientApiAudience: ${WEBMODELER_UI_AUDIENCE}
                publicApiAudience: ${WEBMODELER_API_AUDIENCE}
                redirectUrl: http://localhost:8070

            console:
                clientId: ${CONSOLE_CLIENT_ID}
                audience: ${CONSOLE_AUDIENCE}
                redirectUrl: http://localhost:8087/

    security:
        authentication:
            method: oidc

orchestration:
    enabled: true

    security:
        authentication:
            oidc:
                clientId: ${ORCHESTRATION_CLIENT_ID}
                audience: ${ORCHESTRATION_AUDIENCE}
                usernameClaim: preferred_username
                clientIdClaim: azp
                preferUsernameClaim: true
                redirectUrl: http://localhost:8080
                scope:
                    - openid
                    - profile
                    - offline_access
                    - ${ORCHESTRATION_AUDIENCE}/.default
                secret:
                    existingSecret: entra-credentials
                    existingSecretKey: orchestration-cluster-client-secret

    initialization:
        defaultRoles:
            admin:
                users:
                    - ${IDENTITY_INITIAL_USER_EMAIL}
            connectors:
                clients:
                    - ${ORCHESTRATION_CLIENT_ID}

connectors:
    enabled: true

    security:
        authentication:
            oidc:
                clientId: ${ORCHESTRATION_CLIENT_ID}
                audience: ${ORCHESTRATION_AUDIENCE}
                tokenScope: ${ORCHESTRATION_AUDIENCE}/.default
                secret:
                    existingSecret: entra-credentials
                    existingSecretKey: orchestration-cluster-client-secret

identity:
    enabled: true
    contextPath: /managementidentity
    fullURL: http://localhost:8084/managementidentity

    externalDatabase:
        enabled: true
        host: ${DB_HOST}
        port: ${DB_PORT}
        username: ${DB_IDENTITY_USERNAME}
        database: ${DB_IDENTITY_NAME}
        secret:
            existingSecret: identity-postgres-secret
            existingSecretPasswordKey: password

identityKeycloak:
    enabled: false

identityPostgresql:
    enabled: false

optimize:
    enabled: true

webModeler:
    enabled: false

    restapi:
        externalDatabase:
            enabled: true
            url: jdbc:postgresql://${DB_HOST}:5432/${DB_WEBMODELER_NAME}?sslmode=require
            user: ${DB_WEBMODELER_USERNAME}
            secret:
                existingSecret: webmodeler-postgres-secret
                existingSecretKey: password

        mail:
            fromAddress: noreply@example.com

webModelerPostgresql:
    enabled: false

console:
    enabled: false

elasticsearch:
    enabled: false
