---
# Azure AKS Domain Configuration for Camunda Platform
#
# This is the base values file. Auth provider configs are applied via overlays:
# - Keycloak Operator: merge with generic/kubernetes/operator-based/keycloak/camunda-keycloak-domain-values.yml
# - OIDC: merge with generic/kubernetes/single-region/helm-values/values-oidc.yml + values-oidc-domain.yml

global:
    elasticsearch:
        enabled: true

    ingress:
        enabled: true
        host: ${DOMAIN_NAME}
        tls:
            enabled: true
            secretName: camunda-c8-tls
        annotations:
            kubernetes.io/tls-acme: 'true'

    security:
        authentication:
            method: oidc

    identity:
        auth:
            enabled: true

identity:
    enabled: true
    contextPath: /managementidentity
    fullURL: https://${DOMAIN_NAME}/managementidentity

    firstUser:
        enabled: true
        username: admin
        email: admin@camunda.local
        firstName: Admin
        lastName: User
        secret:
            existingSecret: identity-secret-for-components
            existingSecretKey: identity-first-user-password

    externalDatabase:
        enabled: true
        host: ${DB_HOST}
        port: ${DB_PORT}
        username: ${DB_IDENTITY_USERNAME}
        database: ${DB_IDENTITY_NAME}
        secret:
            existingSecret: identity-postgres-secret
            existingSecretKey: password

connectors:
    contextPath: /connectors

webModeler:
    enabled: false
    contextPath: /modeler

    restapi:
        externalDatabase:
            enabled: true
            url: jdbc:postgresql://${DB_HOST}:5432/${DB_WEBMODELER_NAME}?sslmode=require
            user: ${DB_WEBMODELER_USERNAME}
            secret:
                existingSecret: webmodeler-postgres-secret
                existingSecretKey: password

        mail:
            secret:
                existingSecret: webmodeler-secret
                existingSecretKey: smtp-password
            fromAddress: changeme@example.com


webModelerPostgresql:
    enabled: false

optimize:
    enabled: true
    contextPath: /optimize

orchestration:
    contextPath: /

    data:
        secondaryStorage:
            type: elasticsearch

    security:
        initialization:
            defaultRoles:
                admin:
                    users:
                        - admin

    ingress:
        grpc:
            enabled: true
            host: zeebe-${DOMAIN_NAME}
            tls:
                enabled: true
                secretName: zeebe-c8-tls-grpc
            annotations:
                kubernetes.io/tls-acme: 'true'

console:
    enabled: false # by default, console is not enabled
    contextPath: /console

elasticsearch:
    enabled: true
