---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/camunda/infraex-common-config
      rev: 1.5.9 # use tags until renovate supports sha: https://github.com/renovatebot/renovate/issues/22567
      hooks:
          - id: update-action-readmes-docker

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: check-yaml
            args: [--allow-multiple-documents]
          - id: check-json
          - id: check-symlinks
          - id: check-shebang-scripts-are-executable
          - id: detect-private-key

    - repo: https://github.com/rhysd/actionlint
      rev: v1.7.11
      hooks:
          - id: actionlint-docker
            args: [-ignore=SC2155]

    - repo: https://github.com/renovatebot/pre-commit-hooks
      rev: 43.17.1
      hooks:
          - id: renovate-config-validator
            args: [--strict]
            # TODO : revert this when https://github.com/renovatebot/pre-commit-hooks/issues/2460 is fixed
            language_version: lts

    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v4.3.0 # use tags until renovate supports sha: https://github.com/renovatebot/renovate/issues/22567
      hooks:
          - id: conventional-pre-commit
            stages: [commit-msg]
            args: [--strict, --force-scope]

    - repo: https://github.com/antonbabenko/pre-commit-terraform
      rev: v1.105.0
      hooks:
          - id: terraform_fmt
          - id: terraform_tflint
            exclude: (_override.tf)
            args:
                - --args=--config=__GIT_WORKING_DIR__/.lint/tflint/.tflint.hcl
          - id: terraform_docs
            args:
                - --hook-config=--path-to-file=README.md
                - --hook-config=--create-file-if-not-exist=true
                - --hook-config=--add-to-existing-file=true
                - --args=--config=.lint/terraform_docs/.terraform-docs.yml

    - repo: local
      hooks:
          - id: trivy-scan
            name: Trivy Scan
            entry: .lint/trivy/trivy-scan.sh
            language: script
            types: [terraform]
            pass_filenames: false

    - repo: https://github.com/tekwizely/pre-commit-golang
      rev: v1.0.0-rc.4
      hooks:
          - id: go-mod-tidy
          - id: go-mod-tidy-repo
          - id: go-fmt

    - repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.9.0.6
      hooks:
          - id: shellcheck
            args: [--exclude=SC2155, --external-sources]

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.38.0
      hooks:
          - id: yamllint
            args: [-c, .lint/yamllint/.yamllint.yaml]

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
            exclude: (generic/kubernetes/operator-based/elasticsearch/elasticsearch-cluster.yml|local/kubernetes/kind-single-region/configs/elasticsearch-cluster.yml)
