---
# Base No-Domain Configuration for Camunda Platform
#
# This file contains infrastructure configuration without ingress (for port-forward access).
# Combine with an auth overlay:
#   - Keycloak Operator: yq ". *+ load(\"generic/kubernetes/operator-based/keycloak/camunda-keycloak-no-domain-values.yml\")" values-no-domain.yml > values.yml
#   - OIDC:              yq ". *+ load(\"values-oidc.yml\")" values-no-domain.yml > values.yml
#
# Required environment variables:
#   - OPENSEARCH_HOST: OpenSearch endpoint

global:
    elasticsearch:
        enabled: false
    opensearch:
        enabled: true
        aws:
            enabled: false # we rely on anonymous auth, not irsa, basic auth is not supported on managed OpenSearch
        auth:
            username:
            password:
        url:
            protocol: https
            host: ${OPENSEARCH_HOST}
            # Amazon OpenSearch Service listens on port 443 opposed to the usual port 9200.
            port: 443

    security:
        authentication:
            method: oidc

    identity:
        auth:
            enabled: true

identity:
    enabled: true
    contextPath: /managementidentity
    fullURL: http://localhost:8080/managementidentity # replace this with a port of your choice when you will do port forwarding

    firstUser:
        enabled: true
        username: admin
        email: admin@camunda.local
        firstName: Admin
        lastName: User
        secret:
            existingSecret: identity-secret-for-components
            existingSecretKey: identity-first-user-password

    externalDatabase:
        enabled: true
        host: ${DB_HOST}
        port: 5432
        username: ${DB_IDENTITY_USERNAME}
        database: ${DB_IDENTITY_NAME}
        secret:
            existingSecret: identity-postgres-secret
            existingSecretKey: password

optimize:
    enabled: true
    # OpenSearch prevents migration
    migration:
        enabled: false

console:
    enabled: false # by default, console is not enabled


webModeler:
    enabled: false # by default, webModeler is not enabled

    restapi:
        externalDatabase:
            url: jdbc:aws-wrapper:postgresql://${DB_HOST}:5432/${DB_WEBMODELER_NAME}
            user: ${DB_WEBMODELER_USERNAME}
            secret:
                existingSecret: webmodeler-postgres-secret
                existingSecretKey: password
        env:
            - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
              value: software.amazon.jdbc.Driver
        mail:
            secret:
                existingSecret: webmodeler-secret
                existingSecretKey: smtp-password
            fromAddress: changeme@example.com   # change this required value

orchestration:
    data:
        secondaryStorage:
            type: opensearch

    security:
        initialization:
            defaultRoles:
                admin:
                    users:
                        - admin


webModelerPostgresql:
    # Will deploy a postgresql datbase for webModeler.
    # If you enable webModeler, you either need to turn it true or use an external database
    enabled: false

elasticsearch:
    enabled: false
