---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
    name: elasticsearch
spec:
    version: 8.17.1
    nodeSets:
        - name: master
          count: 3
          config:
              node.roles: [master, data, ingest]
              xpack.security.enabled: true
              xpack.security.authc:
                  anonymous:
                      username: anonymous
                      roles: superuser
                      authz_exception: false
          podTemplate:
              spec:
                  containers:
                      - name: elasticsearch
                        resources:
                            requests:
                                memory: 2Gi
                                cpu: 1
                            limits:
                                memory: 2Gi
                                cpu: 2
                        env:
                            - name: ES_JAVA_OPTS
                              value: -Xms1g -Xmx1g
          volumeClaimTemplates:
              - metadata:
                    name: elasticsearch-data
                spec:
                    accessModes:
                        - ReadWriteOnce
                    resources:
                        requests:
                            storage: 10Gi
                    storageClassName: managed-csi-premium
