---
apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
    name: ${KEYCLOAK_CR_NAME}
    namespace: ${NAMESPACE}
    labels:
        app: keycloak-migration
        migration.camunda.io/component: keycloak
spec:
    image: ${KC_IMAGE}
    instances: ${KC_REPLICAS}
    db:
        # Use official url parameter instead of individual host/port/database
        # aws-wrapper is required for optimized images (no impact on functionality)
        url: jdbc:aws-wrapper:postgresql://${CNPG_CLUSTER_NAME}-rw:5432/${PG_DATABASE}
        schema: public
        usernameSecret:
            name: ${CNPG_CLUSTER_NAME}-secret
            key: username
        passwordSecret:
            name: ${CNPG_CLUSTER_NAME}-secret
            key: password
    http:
        httpEnabled: true
    additionalOptions:
        - name: http-relative-path
          value: /auth
    ingress:
        enabled: false
    hostname:
        # use the service name as hostname to sign the tokens correctly
        hostname: ${KEYCLOAK_CR_NAME}-service
        strict: false
    resources:
        limits:
            cpu: 500m
            memory: 1Gi
        requests:
            cpu: 250m
            memory: 512Mi
