---
# CloudNativePG Cluster for Identity
# Based on: operator-based/postgresql/postgresql-clusters.yml
# Required env vars:
#   NAMESPACE, CNPG_CLUSTER_NAME, PG_IMAGE
#   PG_DATABASE, PG_USERNAME, PG_REPLICAS, PG_STORAGE_SIZE
# Usage: envsubst < cnpg-cluster.yml | kubectl apply -f -
#
# Note: Secrets must be created first using set-secrets.sh or manually:
#   kubectl create secret generic ${CNPG_CLUSTER_NAME}-secret --from-literal=username=${PG_USERNAME} --from-literal=password=<password>
#   kubectl create secret generic ${CNPG_CLUSTER_NAME}-superuser-secret --from-literal=username=root --from-literal=password=<password>
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
    name: ${CNPG_CLUSTER_NAME}
    namespace: ${NAMESPACE}
    labels:
        app: identity-migration
        migration.camunda.io/component: postgresql
spec:
    instances: ${PG_REPLICAS}
    description: PostgreSQL cluster for Camunda Identity (migrated)
    imageName: ${PG_IMAGE}
    storage:
        size: ${PG_STORAGE_SIZE}
    superuserSecret:
        name: ${CNPG_CLUSTER_NAME}-superuser-secret
    # OpenShift Security Context - let SCC manage the security context
    seccompProfile:
        type: RuntimeDefault
    bootstrap:
        initdb:
            database: ${PG_DATABASE}
            owner: ${PG_USERNAME}
            dataChecksums: true
            secret:
                name: ${CNPG_CLUSTER_NAME}-secret
