---
# Keycloak Operator Overlay Configuration for Camunda Platform
#
# This file configures Camunda to use a Keycloak instance deployed via the Keycloak Operator.
# Unlike the embedded Keycloak (values-keycloak.yml), this uses OIDC GENERIC mode
# to connect to an externally managed Keycloak instance.
#
# Prerequisites:
#   1. Deploy CloudNativePG operator and PostgreSQL cluster for Keycloak
#      See: generic/kubernetes/operator-based/postgresql/
#   2. Deploy Keycloak operator and instance
#      See: generic/kubernetes/operator-based/keycloak/
#   3. Create the identity secrets for components
#      See: generic/kubernetes/single-region/tests/procedure/create-keycloak-identity-secret.sh
#
# Merge order:
#   - Domain:    yq ". *+ load(\"values-keycloak-operator.yml\") *+ load(\"values-keycloak-operator-domain.yml\")" values-domain.yml > values.yml
#   - No-domain: yq ". *+ load(\"values-keycloak-operator.yml\") *+ load(\"values-keycloak-operator-no-domain.yml\")" values-no-domain.yml > values.yml
#
# Key differences from embedded Keycloak (values-keycloak.yml):
#   - Uses auth.type: GENERIC (OIDC) instead of KEYCLOAK
#   - Connects to external Keycloak service (keycloak-service:8080)
#   - No identityKeycloak subchart (Keycloak is managed by operator)
#   - Identity component manages realm/clients via Keycloak admin API

global:
    identity:
        auth:
            # Use GENERIC type for externally managed Keycloak
            # This allows Camunda to work with operator-deployed Keycloak via standard OIDC
            type: GENERIC

            # Keycloak endpoints for OIDC authentication
            # The keycloak-service is created by the Keycloak Operator
            issuerBackendUrl: http://keycloak-service:8080/auth/realms/camunda-platform
            tokenUrl: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/token
            jwksUrl: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/certs
            authorizationUrl: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/auth

            identity:
                clientId: camunda-identity
                audience: camunda-identity
                existingSecret: identity-secret-for-components
                existingSecretKey: identity-client-secret

            optimize:
                clientId: optimize
                audience: optimize
                existingSecret: identity-secret-for-components
                existingSecretKey: optimize-client-secret

            webModeler:
                clientId: web-modeler
                clientApiAudience: web-modeler-api
                publicApiAudience: web-modeler-public-api

            console:
                clientId: console
                audience: console
                existingSecret: identity-secret-for-components
                existingSecretKey: console-client-secret

        # External Keycloak configuration for Identity to manage realm/clients
        keycloak:
            # Keycloak is external (managed by operator)
            internal: false
            url:
                protocol: http
                host: keycloak-service
                port: '8080'
            contextPath: /auth
            realm: /realms/camunda-platform
            auth:
                # Use the admin secret created by Keycloak Operator
                existingSecret: keycloak-initial-admin
                existingSecretKey: password
                adminUser: temp-admin

# Disable internal Keycloak - using operator-deployed instance
identityKeycloak:
    enabled: false

identity:
    enabled: true

    # First user configuration - Identity will create this user in Keycloak
    firstUser:
        enabled: true
        username: admin
        email: admin@camunda.local
        firstName: Admin
        lastName: User
        secret:
            existingSecret: identity-secret-for-components
            existingSecretKey: identity-first-user-password

    # Additional environment variables for external Keycloak
    env:
        - name: IDENTITY_AUTH_PROVIDER_BACKEND_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform
        - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI
          value: http://keycloak-service:8080/auth/realms/camunda-platform
        - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI
          value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/certs

connectors:
    env:
        - name: CAMUNDA_IDENTITY_ISSUER_BACKEND_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform
        - name: CAMUNDA_CLIENT_AUTH_TOKEN_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/token

    security:
        authentication:
            oidc:
                clientId: connectors
                tokenScope: openid
                audience: connectors

                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: connectors-client-secret

optimize:
    env:
        - name: CAMUNDA_OPTIMIZE_SECURITY_AUTH_CCSM_ISSUER_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform
        - name: CAMUNDA_OPTIMIZE_SECURITY_AUTH_CCSM_JWKS_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/certs

orchestration:
    env:
        - name: CAMUNDA_IDENTITY_ISSUER_BACKEND_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform
        - name: CAMUNDA_CLIENT_AUTH_TOKEN_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/token

    security:
        authentication:
            oidc:
                clientId: zeebe
                audience: zeebe
                # Accept tokens from connectors client
                backwardsCompatibleAudiences:
                    - connectors

                secret:
                    existingSecret: identity-secret-for-components
                    existingSecretKey: orchestration-client-secret

        initialization:
            defaultRoles:
                admin:
                    users:
                        - admin
                # Grant Connectors role to the Connectors M2M client
                connectors:
                    clients:
                        - connectors

console:
    env:
        - name: CAMUNDA_IDENTITY_ISSUER_BACKEND_URL
          value: http://keycloak-service:8080/auth/realms/camunda-platform

webModeler:
    restapi:
        env:
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI
              value: http://keycloak-service:8080/auth/realms/camunda-platform
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI
              value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/certs

    webapp:
        env:
            - name: OAUTH2_JWKS_URL
              value: http://keycloak-service:8080/auth/realms/camunda-platform/protocol/openid-connect/certs
