[Unit]
Description=Camunda Connectors
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
EnvironmentFile=/camunda/connectors/connectors-environment
ExecStart=/camunda/connectors/start.sh
Restart=on-failure
RestartSec=1
User=admin

[Install]
WantedBy=multi-user.target
