---
name: Tests - Golden - AWS OpenShift ROSA HCP Single Region

on:
    workflow_dispatch:
    pull_request:
        paths:
            - .github/workflows/aws_openshift_rosa_hcp_single_region_golden.yml
            - .tool-versions
            - aws/modules/rosa-hcp/**
            - aws/openshift/rosa-hcp-single-region/**
            - .github/actions/aws-configure-cli/**

# limit to a single execution per actor of this workflow
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    IS_SCHEDULE: ${{ (contains(github.head_ref, 'schedules/') || github.event_name == 'schedule') && 'true' || 'false' }}

    # keep this synced with other workflows
    AWS_PROFILE: infex
    AWS_REGION: eu-west-2
    S3_BACKEND_BUCKET: tests-ra-aws-rosa-hcp-tf-state-eu-central-1
    S3_BUCKET_REGION: eu-central-1
    S3_BUCKET_KEY: golden.tfstate

    MODULE_DIR_BASE: ./aws/openshift/rosa-hcp-single-region/terraform/

jobs:
    triage:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: Check labels
              id: skip_check
              uses: ./.github/actions/internal-triage-skip

    compare:
        needs:
            - triage
        if: needs.triage.outputs.should_skip == 'false'
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Install asdf tools with cache
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9

            - name: Configure AWS CLI
              uses: ./.github/actions/aws-configure-cli
              with:
                  vault-addr: ${{ secrets.VAULT_ADDR }}
                  vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
                  vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
                  aws-profile: ${{ env.AWS_PROFILE }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Run Terraform Golden Plan Comparison - Cluster
              uses: ./.github/actions/internal-terraform-golden-plan
              env:
                  GH_TOKEN: ${{ github.token }}
              with:
                  module-dir: ${{ env.MODULE_DIR_BASE }}cluster/
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-key: ${{ env.S3_BUCKET_KEY }}

            - name: Run Terraform Golden Plan Comparison - VPN
              uses: ./.github/actions/internal-terraform-golden-plan
              env:
                  GH_TOKEN: ${{ github.token }}
              with:
                  module-dir: ${{ env.MODULE_DIR_BASE }}vpn/
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-key: ${{ env.S3_BUCKET_KEY }}
