---
name: Tests - Daily Cleanup - AWS EKS/RDS/OS Modules

on:
    workflow_dispatch:
        inputs:
            max_age_hours:
                description: Maximum age of resources in hours
                required: true
                default: '12'
    pull_request:
        # the paths should be synced with ../labeler.yml
        paths:
            - .github/workflows/aws_modules_eks_rds_os_daily_cleanup.yml
            - .github/actions/aws-eks-cleanup-resources/**
            - .github/actions/aws-configure-cli/**

    schedule:
        - cron: 0 4 * * * # At 04:00 everyday.

# limit to a single execution per actor of this workflow
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    # we don't cancel the previous run, so it can finish it and let clusters in a proper state
    cancel-in-progress: false

env:
    IS_SCHEDULE: ${{ (contains(github.head_ref, 'schedules/') || github.event_name == 'schedule') && 'true' || 'false' }}

    MAX_AGE_HOURS: ${{ github.event.inputs.max_age_hours || '12' }}
    AWS_PROFILE: infex

    # please keep those variables synced with tests.yml
    AWS_REGION: eu-west-2
    S3_BACKEND_BUCKET: tests-eks-tf-state-eu-central-1
    S3_BUCKET_REGION: eu-central-1

jobs:
    triage:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - name: Check labels
              id: skip_check
              uses: ./.github/actions/internal-triage-skip

    cleanup-clusters:
        needs:
            - triage
        if: needs.triage.outputs.should_skip == 'false'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  ref: ${{ github.head_ref }}
                  fetch-depth: 0

            - name: Install asdf tools with cache
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9

            - name: Use repo .tool-version as global version
              run: cp .tool-versions ~/.tool-versions

            - name: Configure AWS CLI
              uses: ./.github/actions/aws-configure-cli
              with:
                  vault-addr: ${{ secrets.VAULT_ADDR }}
                  vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
                  vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
                  aws-profile: ${{ env.AWS_PROFILE }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Set current target branch
              id: target-branch
              run: |
                  set -euo pipefail
                  TARGET_BRANCH=$(cat .target-branch)
                  echo "TARGET_BRANCH=$TARGET_BRANCH" | tee -a "$GITHUB_OUTPUT"

            - name: Delete orphaned resources
              id: delete-orphaned-resources
              continue-on-error: true
              timeout-minutes: 360
              if: always()
              uses: ./.github/actions/aws-eks-cleanup-resources
              # TODO: migrate to generic
              with:
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  camunda-version: ${{ steps.target-branch.outputs.TARGET_BRANCH }}
                  max-age-hours: ${{ env.MAX_AGE_HOURS }}
                  target: all

            # The previous step has a continue-on-error set to true in case of schedule run.
            # This means that the workflow is not marked as failed, but the step is.
            # We can't use the `if: failure()` condition here, as the overall job is succeeding.
            # Instead, we check the outcome of the previous step and if it failed, we retry the deletion.
            # If the retry fails, then the slack notification will be triggered as normally.

            # There are cases where the deletion of resources fails due to dependencies.
            - name: Retry delete orphaned resources
              id: retry-delete-orphaned-resources
              timeout-minutes: 360
              # TODO: migrate to generic
              if: steps.delete-orphaned-resources.outcome == 'failure'
              uses: ./.github/actions/aws-eks-cleanup-resources
              with:
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  camunda-version: ${{ steps.target-branch.outputs.TARGET_BRANCH }}
                  max-age-hours: 0 # the previous step alters the age and resets it to 0
                  target: all

            - name: Notify in Slack in case of failure
              id: slack-notification
              if: failure() && env.IS_SCHEDULE == 'true' && steps.retry-delete-orphaned-resources.outcome == 'failure'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
