---
name: Tests - Daily Cleanup - AWS EKS/RDS/OS Modules
on:
    workflow_dispatch:
        inputs:
            max_age_hours:
                description: Maximum age of resources in hours
                required: true
                default: '12'
    pull_request: {}
    schedule:
        - cron: 0 4 * * *
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false
env:
    IS_SCHEDULE: ${{ contains(github.head_ref, 'schedules/') || github.event_name == 'schedule' && 'true' || 'false' }}
    MAX_AGE_HOURS: ${{ github.event.inputs.max_age_hours || '12' }}
    AWS_PROFILE: infex
    AWS_REGION: eu-west-2
    S3_BACKEND_BUCKET: tests-eks-tf-state-eu-central-1
    S3_BUCKET_REGION: eu-central-1
jobs:
    triage:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
            - name: Check labels
              id: skip_check
              uses: ./.github/actions/internal-triage-skip
    cleanup-clusters:
        needs:
            - triage
        if: needs.triage.outputs.should_skip == 'false'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
              with:
                  ref: ${{ github.head_ref }}
                  fetch-depth: 0
            - name: Install asdf tools with cache
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@eb9d51b4dc89deeda7fc160166f378725ee0f06a
            - name: Use repo .tool-version as global version
              run: cp .tool-versions ~/.tool-versions
            - name: Configure AWS CLI
              uses: ./.github/actions/aws-configure-cli
              with:
                  vault-addr: ${{ secrets.VAULT_ADDR }}
                  vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
                  vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
                  aws-profile: ${{ env.AWS_PROFILE }}
                  aws-region: ${{ env.AWS_REGION }}
            - name: Set current target branch
              id: target-branch
              run: |
                  set -euo pipefail
                  TARGET_BRANCH=$(cat .target-branch)
                  echo "TARGET_BRANCH=$TARGET_BRANCH" | tee -a "$GITHUB_OUTPUT"
            - name: Delete orphaned resources
              id: delete-orphaned-resources
              continue-on-error: true
              timeout-minutes: 360
              if: always()
              uses: ./.github/actions/aws-eks-cleanup-resources
              with:
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  camunda-version: ${{ steps.target-branch.outputs.TARGET_BRANCH }}
                  max-age-hours: ${{ env.MAX_AGE_HOURS }}
                  target: all
            - name: Retry delete orphaned resources
              id: retry-delete-orphaned-resources
              timeout-minutes: 360
              if: steps.delete-orphaned-resources.outcome == 'failure'
              uses: ./.github/actions/aws-eks-cleanup-resources
              with:
                  s3-backend-bucket: ${{ env.S3_BACKEND_BUCKET }}
                  s3-bucket-region: ${{ env.S3_BUCKET_REGION }}
                  camunda-version: ${{ steps.target-branch.outputs.TARGET_BRANCH }}
                  max-age-hours: 0
                  target: all
            - name: Notify in Slack in case of failure
              id: slack-notification
              if: failure() && env.IS_SCHEDULE == 'true' && steps.retry-delete-orphaned-resources.outcome == 'failure'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@eb9d51b4dc89deeda7fc160166f378725ee0f06a
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
