---
name: Tests - Integration - Azure Common Procedure Storage Account Creation Test

permissions:
    id-token: write # this is required for azure login
    contents: write # allow commits
    pull-requests: write # allow comments, labels (used by internal-apply-skip-label)

on:
    schedule:
        - cron: 0 3 * * 3 # Runs at 3 AM on Wednesdays
    pull_request:
        paths:
            - .github/workflows/azure_common_procedure_storageaccount_test.yml
            - .tool-versions
            - azure/common/procedure/storage-account/**
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    IS_SCHEDULE: ${{ (contains(github.head_ref, 'schedules/') || github.event_name == 'schedule') && 'true' || 'false' }}
    IS_RENOVATE_PR: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login == 'renovate[bot]' }}

    # Test environment for cloud provider, please keep it synced between the workflows
    AZURE_REGION: swedencentral

jobs:
    triage:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  fetch-depth: 0
            - name: Check labels
              id: skip_check
              uses: ./.github/actions/internal-triage-skip

    test-storage-account-creation:
        name: Test Storage Account Creation
        needs: triage
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  ref: ${{ github.ref }}
                  fetch-depth: 0

            - name: Install asdf tools with cache
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9

            - name: Import Secrets
              id: secrets
              uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3
              with:
                  url: ${{ secrets.VAULT_ADDR }}
                  method: approle
                  roleId: ${{ secrets.VAULT_ROLE_ID }}
                  secretId: ${{ secrets.VAULT_SECRET_ID }}
                  exportEnv: true
                  secrets: |
                      secret/data/products/infrastructure-experience/ci/common AZURE_CLIENT_ID;
                      secret/data/products/infrastructure-experience/ci/common AZURE_TENANT_ID;
                      secret/data/products/infrastructure-experience/ci/common AZURE_SUBSCRIPTION_ID;

            - name: Azure Login with OIDC
              uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
              with:
                  client-id: ${{ steps.secrets.outputs.AZURE_CLIENT_ID }}
                  tenant-id: ${{ steps.secrets.outputs.AZURE_TENANT_ID }}
                  subscription-id: ${{ steps.secrets.outputs.AZURE_SUBSCRIPTION_ID }}

            - name: Source environment variables
              id: source_env_vars
              shell: bash
              run: |
                  set -euo pipefail
                  source .github/scripts/gha-functions.sh
                  export_new_env_vars azure/common/procedure/storage-account/storage-account-env-vars.sh

            - name: Create Storage Account with versioning
              id: create_storage_account
              working-directory: azure/common/procedure/storage-account
              run: |
                  set -euo pipefail

                  EVENT_NAME="${{ github.event_name }}"
                  export EXTRA_IDENTIFIER="${EVENT_NAME//_/-}"

                  if [[ ${{ github.event_name }} == 'pull_request' ]]; then
                    export EXTRA_IDENTIFIER="pr-${{ github.event.pull_request.number }}"
                  fi

                  export RANDOM_IDENTIFIER="$RANDOM-$EXTRA_IDENTIFIER"

                  # Generate a random storage account name to avoid conflicts
                  AZURE_STORAGE_ACCOUNT_NAME="storacc-$RANDOM_IDENTIFIER" # now allowed to use hyphens
                  AZURE_STORAGE_ACCOUNT_NAME=$(echo "$AZURE_STORAGE_ACCOUNT_NAME" | tr '[:upper:]' '[:lower:]' | tr -cd 'a-z0-9')
                  export AZURE_STORAGE_ACCOUNT_NAME="${AZURE_STORAGE_ACCOUNT_NAME:0:24}"
                  echo "AZURE_STORAGE_ACCOUNT_NAME=$AZURE_STORAGE_ACCOUNT_NAME" | tee -a "$GITHUB_ENV"

                  # Generate a random resource group name to avoid conflicts
                  export RESOURCE_GROUP_NAME="azure-common-storage-test-$RANDOM_IDENTIFIER"
                  export RESOURCE_GROUP_NAME="${RESOURCE_GROUP_NAME:0:64}"
                  echo "RESOURCE_GROUP_NAME=$RESOURCE_GROUP_NAME" | tee -a "$GITHUB_ENV"

                  ./storage-account-creation.sh
                  ./storage-account-versioning.sh
            - name: Create tfvars file
              id: create_tfvars_file
              working-directory: azure/common/procedure/storage-account
              run: |
                  set -euo pipefail
                  cp ${{ github.workspace }}/azure/common/test/fixtures/ci/terraform.tfvars .

            - name: Terraform Init
              id: init
              working-directory: azure/common/procedure/storage-account
              shell: bash
              run: |
                  set -euo pipefail
                  ./storage-account-tf-init.sh

            - name: Delete Resource group
              if: always()
              id: delete_resource_group
              run: |
                  set -euo pipefail
                  az group delete --name "$RESOURCE_GROUP_NAME" --yes --no-wait

    report-success:
        name: Report success
        runs-on: ubuntu-latest
        needs:
            - test-storage-account-creation
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

            - name: Prevent other runs for renovate
              if: ${{ env.IS_RENOVATE_PR == 'true' }}
              env:
                  GH_TOKEN: ${{ github.token }}
              uses: ./.github/actions/internal-apply-skip-label

    report-failure:
        name: Report failure
        runs-on: ubuntu-latest
        if: failure()
        needs:
            - report-success
        steps:
            - name: Notify in Slack in case of failure
              id: slack-notification
              if: ${{ env.IS_SCHEDULE == 'true' }}
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
