---
name: Internal - Global - Check external links
on:
    push:
    workflow_dispatch:
    schedule:
        - cron: 0 3 1 * *
    pull_request: {}
env:
    IS_SCHEDULE: ${{ contains(github.head_ref, 'schedules/') || github.event_name == 'schedule' && 'true' || 'false' }}
jobs:
    lint:
        name: links-check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
            - name: Get Current Date
              id: dateofday
              run: echo "DATEOFDAY=$(date +%Y-%m-%d)" >> "$GITHUB_ENV"
            - name: Restore lychee cache
              uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .lycheecache
                  key: cache-lychee-${{ env.DATEOFDAY }}
            - name: Link Checker
              uses: lycheeverse/lychee-action@885c65f3dc543b57c898c8099f4e08c8afd178a2
              with:
                  fail: true
                  args: -c ./lychee-links.toml --cache --max-cache-age 1d . --verbose --no-progress '*.md' './**/*.md'
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Cache links
              uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .lycheecache
                  key: cache-lychee-${{ env.DATEOFDAY }}
            - name: Create Issue From File
              if: failure() && env.IS_SCHEDULE == 'true'
              uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710
              with:
                  title: Link Checker Report
                  content-filepath: ./lychee/out.md
                  labels: report, automated issue
                  assignees: '@camunda/infraex-medic'
            - name: Notify in Slack in case of failure
              id: slack-notification
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4
              if: failure() && env.IS_SCHEDULE == 'true'
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}

# Scheduled trigger: 2026-02-26T01:38:43Z - Everyday schedules 8.8
