---
name: Internal - Global - Pull Request Labeler
on:
    pull_request_target:
    schedule:
        - cron: 0 1 * * 1
    pull_request:
        paths:
            - .github/workflows/labeler.yml

jobs:
    labeler:
        permissions:
            contents: read
            pull-requests: write # only allow updates of the tags
        runs-on: ubuntu-latest
        steps:
            - uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6

            - name: Notify in Slack in case of failure
              id: slack-notification
              if: failure() && github.event_name == 'schedule'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@b52f5bb65b5bb9e0b0458c46b8671bf1fe9a907f # 1.5.7
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
