---
# This workflow updates an artifact containing the OpenShift ACM versions,
# it's used by renovate and published at https://camunda.github.io/camunda-deployment-references/openshift_acm_versions.txt
name: Internal - OpenShift - Save OpenShift ACM Versions as an artifact

on:
    schedule:
        - cron: 0 0 * * *
    workflow_dispatch:
    pull_request:
        paths:
            - .github/workflows/internal_openshift_artifact_acm_versions.yml

jobs:
    save-acm-versions:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  ref: gh-pages

            - name: Retrieve OpenShift ACM versions
              shell: bash
              run: |
                  set -euo pipefail

                  # Fetch the latest from the main branch
                  git fetch origin main

                  # Checkout the script from main branch
                  git checkout origin/main -- .github/scripts/get_acm_versions.py

                  python3 -m venv acm-venv
                  source acm-venv/bin/activate

                  pip install requests bs4

                  python .github/scripts/get_acm_versions.py

                  echo "Printing: ./docs/openshift_acm_versions.txt"
                  cat "./docs/openshift_acm_versions.txt"

                  echo "Cleanup of the copied script"
                  rm .github/scripts/get_acm_versions.py
                  git restore --staged .github/scripts/get_acm_versions.py || true

            - name: Stash changes and checkout gh-pages branch and push OpenShift ACM versions file to gh-pages
              shell: bash
              run: |
                  set -euo pipefail

                  # stash the changes
                  git add docs/openshift_acm_versions.txt

                  # Check if there are any staged changes (changes added to the index)
                  if git diff --cached --exit-code docs/openshift_acm_versions.txt; then
                    echo "No changes detected. No commit necessary."
                  else
                    git config --local user.name "github-actions[bot]"
                    git config --local user.email "github-actions[bot]@users.noreply.github.com"

                    git commit -m "Update OpenShift ACM versions"

                    git push origin gh-pages
                  fi
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Notify in Slack in case of failure
              id: slack-notification
              if: failure() && github.event_name == 'schedule'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
