---
name: Internal - Global - Renovate Auto Merge

on:
    pull_request:

# limit to a single execution per ref of this workflow
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    renovate-automerge:
        uses: camunda/infraex-common-config/.github/workflows/automerge-global.yml@bd6dcfec5e21f6d6c077c9d59caab66ee8500d7e # 1.5.4
        secrets: inherit
