---
name: Internal - Global - Pull Request TODO checker

# This workflow triggers a scan of TODOs in the current pull request.
# For each TODO that is not marked to be ignored, it posts a comment.
# It helps ensure that no TODOs are accidentally left behind in merged PRs.

on:

    pull_request:
        types: [opened, synchronize, reopened]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    triage:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.skip_check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
            - name: Check labels
              id: skip_check
              uses: ./.github/actions/internal-triage-skip

    call-todo-checker:
        needs:
            - triage
        if: needs.triage.outputs.should_skip == 'false'
        uses: camunda/infraex-common-config/.github/workflows/todo-checker-global.yml@b52f5bb65b5bb9e0b0458c46b8671bf1fe9a907f # 1.5.6
        secrets: inherit
