---
name: Reusable AWS Operational Procedure

on:
    workflow_dispatch:
        inputs:
            cluster-name:
                description: The name of the AWS EKS cluster to use
                type: string
                required: true
            helm-version:
                description: The Helm version to use
                type: string
                required: false
                default: SNAPSHOT
            aws-profile:
                description: The AWS profile to use
                type: string
                required: false
                default: infraex
            aws-region:
                description: The AWS region to use
                type: string
                required: false
                default: eu-west-2
    workflow_call:
        inputs:
            cluster-name:
                description: The name of the AWS EKS cluster to use
                type: string
                required: true
            helm-version:
                description: The Helm version to use
                type: string
                required: false
                default: SNAPSHOT
            aws-profile:
                description: The AWS profile to use
                type: string
                required: false
                default: infraex
            aws-region:
                description: The AWS region to use
                type: string
                required: false
                default: eu-west-2

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            ############# Tool Installation ##############
            - name: Install asdf tools with cache
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@193a21e1e56c9a65517a822224ac3b4ffa4d6ae4 # 1.5.9
            - name: Configure AWS CLI
              uses: ./.github/actions/aws-configure-cli
              with:
                  vault-addr: ${{ secrets.VAULT_ADDR }}
                  vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
                  vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
                  aws-profile: ${{ inputs.aws-profile }}
                  aws-region: ${{ inputs.aws-region }}

            ########### KubeConfig Generation ############
            - name: Export Cluster Name
              run: |
                  echo "CLUSTER_NAME=${{ inputs.cluster-name }}" >> "$GITHUB_ENV"
            - name: KubeConfig generation
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 5
              run: |
                  go test --count=1 -v -timeout 4m -run TestAWSKubeConfigCreation
            #### Export required environment variables ####
            - name: Export C8 namespaces and versions
              run: |
                  version=${{ inputs.helm-version }}
                  version=$(echo "$version" | tr '[:upper:]' '[:lower:]') # lowercasing the version
                  version_with_hyphens="${version//./-}" # replacing dots with hyphens

                  # SNAPSHOT image = future minor version
                  # SNAPSHOT chart = current minor version
                  # ALPHA chart = future minor version
                  if [ "$version" == "snapshot" ]; then
                    {
                      echo "HELM_CHART_VERSION=0.0.0-snapshot-alpha"
                      echo "HELM_CHART_NAME=oci://ghcr.io/camunda/helm/camunda-platform"
                    } >> "$GITHUB_ENV"
                  else
                    echo "HELM_CHART_VERSION=${version}" >> "$GITHUB_ENV"
                  fi

                  {
                    echo "CLUSTER_0_NAMESPACE=${version_with_hyphens}-cluster-0"
                    echo "CLUSTER_1_NAMESPACE=${version_with_hyphens}-cluster-1"
                    echo "BACKUP_NAME=nightly-${version_with_hyphens}"
                  } >> "$GITHUB_ENV"
    ########### Operational Procedure ############
    # Needs to cater old and new procedure as this workflow is used for all versions
            - name: Deploy - ${{ inputs.helm-version }}
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  go test --count=1 -v -timeout 20m -run TestAWSDeployDualRegCamunda
            - name: Set start timestamp for Failover
              id: failover-start
              run: |
                  printf 'timestamp=%(%s)T\n' >> "$GITHUB_OUTPUT"
            - name: Failover - ${{ inputs.helm-version }}
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  go test --count=1 -v -timeout 20m -run TestAWSDualRegFailover_8_6_plus
            - name: Calculate Failover duration
              run: |
                  printf -v now '%(%s)T'
                  duration=$((now - ${{ steps.failover-start.outputs.timestamp }}))
                  echo $duration
                  if [ "$duration" -gt "900" ]; then
                  echo "::error ::Failover of ${{ inputs.helm-version }} is taking longer than 15 minutes"
                  fi
            - name: Set start timestamp for Failback
              id: failback-start
              run: |
                  printf 'timestamp=%(%s)T\n' >> "$GITHUB_OUTPUT"
            - name: Failback New - ${{ inputs.helm-version }}
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 46
              run: |
                  go test --count=1 -v -timeout 45m -run TestAWSDualRegFailback_8_6_plus
            - name: Calculate Failback duration
              run: |
                  printf -v now '%(%s)T'
                  duration=$((now - ${{ steps.failback-start.outputs.timestamp }}))
                  echo $duration
                  if [ "$duration" -gt "1500" ]; then
                  echo "::error ::Failback of ${{ inputs.helm-version }} is taking longer than 25 minutes"
                  fi
            - name: Test multi-tenancy - ${{ inputs.helm-version }}
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  go test --count=1 -v -timeout 20m -run TestMultiTenancyDualReg

            - name: Test scaling zeebe brokers in multi-region setup
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  set -euxo pipefail
                  go test --count=1 -v -timeout 20m -run TestZeebeClusterScaleUpBrokers

            - name: Test scaling zeebe partitions in multi-region setup
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  set -euxo pipefail
                  go test --count=1 -v -timeout 20m -run TestZeebeClusterScaleUpPartitions

            - name: Test scaling zeebe brokers and partitions in multi-region setup
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              timeout-minutes: 21
              run: |
                  set -euxo pipefail
                  go test --count=1 -v -timeout 20m -run TestZeebeClusterScaleUpBothBrokersAndPartitions

            - name: Debug Step
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              if: failure()
              run: |
                  go test --count=1 -v -timeout 4m -run TestDebugStep
            - name: Upload Pod Logs
              if: failure()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
              with:
                  name: pod-logs-${{ inputs.helm-version }}
                  retention-days: 7
                  path: ./aws/kubernetes/eks-dual-region/test/*.log
            - name: Cleanup - ${{ inputs.helm-version }}
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              if: always()
              timeout-minutes: 16
              run: |
                  go test --count=1 -v -timeout 15m -run TestAWSDualRegCleanup
            - name: KubeConfig Removal
              working-directory: ./aws/kubernetes/eks-dual-region/test/
              if: always()
              timeout-minutes: 5
              run: |
                  go test --count=1 -v -timeout 4m -run TestAWSKubeConfigRemoval
            - name: Remove profile credentials from ~/.aws/credentials
              if: always()
              run: |
                  rm -rf ~/.aws/credentials
